extends layout


block content
  h1 Welcome to my API
  #container.container
    h3 End Point:
    a(href='/')  / 
    br
    a(href='/api')  /api
    br
    a(href='/api/author')  /api/author
    br
    a(href='/api/image')  /api/image
    br  
    h2  Data Structure
    p #{datako}
    
  footer.fixed-bottom
    p Author: Tavie Legasto
    p Contact No.: +639310158517
    p  
      a(href='mailto:taviefalcon@gmail.com') taviefalcon@gmail.com
    p Debug : #{debug}
